/* Variables */

:root {
  /* Color Palette */
  --primary: #a8ff35;
  --green2: #87d322;
  --button-hover: #8cc83a;
  --black: #000000;
  --black2: #2b2b2b;
  --grey1: #8b8b8b;
  --grey2: #adadad;
  --grey3: #f5f5f5;
  --grey4: #f1f1f1;
  --off-white: #ffffff;

  /* Font  */
  --heading1: 72px;
  --heading2: 76px;
  --normal-text-size: 18px;

  --font-weight-bold: 900;
  /* Spacing  */

  /* button styling  */

  /* Shadows? */
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* global/body stylings  */
html,
body {
  /* height: 100%; */
  /* max-width: 1440px; */
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: var(--normal-text-size);

  overflow-x: hidden;
}

.max-width {
  width: 1440px;
  margin: 0 auto;
}

.hero {
  background: url(img/Bg-hero/website.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--off-white);
  width: 100%;
  height: 900px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  background: url(img/Bg-hero/website.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--off-white);
  width: 100%;
  height: 100px;
  background-color: var(--black);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  /* background-color: var(--black); */
  color: var(--off-white);
  font-size: var(--normal-text-size);
  /* z-index: -1; */
  /* position: fixed; */
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 100px;
}
/* Stlying the menu icon, the checkbox stays hidden */
/* nav label {
  text-align: right;
  display: block;
  padding: 0.5em;
  line-height: 1.6em;
  align-self: center;
} */

nav input[type="checkbox"],
nav label {
  display: none;
}
#logo {
  padding: 12px;
  height: 40px;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.middle ul .nav-items {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

.list-items {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  /* height: auto; */
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 100%;
}

nav .left {
  display: flex;
  align-items: center;
  padding-left: 80px;
  width: 10%;
}

nav .right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 213px;
  padding-right: 80px;
}
#white-button {
  background-color: white;
  color: #000000;
  /* border: red 3px; */
  margin-left: 36px;
  width: 129px;
  height: 42px;
  border-radius: 42px;
}

.right button {
  background: none;
  /* background-color: white; */
  /* margin-right: 34px; */
  padding: 2opx;
  border: none;
  color: var(--off-white);
  font-family: inherit;
  font-size: inherit;
}

.right button:hover {
  color: var(--button-hover);
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
main h1 {
  font-family: "Rubik", sans-serif;
  font-size: 72px;
  font-weight: 900;
  color: var(--off-white);
  margin: 0;
  padding: 0;
}

main p {
  font-family: "Rubik", sans-serif;
  /* font-size: */
  font-weight: 200;
  color: var(--grey1);
  margin: 0;
  padding: 16px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight);
  width: 750px;
  height: 337px;
}

.hero-content p {
  padding-top: 24px;
}
#get-started {
  background-color: #87d322;
  border: none;
  height: 64px;
  width: 180px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border-radius: 70px;
}

.new-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  height: 742px;
  padding: 0;
  margin: 0;
}

.new-tabs .center {
  width: 854px;
  height: 462px;
}

.new-tabs .center h1 {
  font-weight: 700;
  font-size: 72px;
  margin: 0px;
}
.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-rectangle {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /* -top: 20px; */
  margin: 64px 0;
  height: 202px;
  width: 502px;
}
.tab5 {
  height: 82px;
  width: 341.23px;
}

/* findtrend brands section */
.findtrend-brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  height: 1600px;
  background-color: var(--off-white);
  padding: 0;
  margin-bottom: 32px;
}

.findtrend-brands div {
  width: 1200px;
  /* margin-bottom: 16px; */
}

.findtrend-brands h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black2);
  line-height: 76px;
}

.grey {
  color: var(--grey1);
  /* height: 100%;
  width: 100%; */
}

.h1-center {
  text-align: center;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 732px; */
  background-color: var(--off-white);
  padding: 20px 0;
}

/* .card-wrapper {
  width: 1200px;
  height: 576px;
  display: flex;
  flex-wrap: wrap;
} */

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.brands .card {
  margin: 16px;
  background-color: var(--grey4);
  width: 266px;
  height: 120px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-self: center;
}

.brands .icon {
  margin: auto;
  width: 200px;
  object-fit: cover;
}

/* platforms */
.platforms {
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-direction: column;
  width: 100%;
  /* height: 2209px; */
  background-color: var(--grey3);
  padding: 96px 0 140px 0;
  margin: 0;
}

.platforms h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black2);
}

.socials {
  /* padding: 48px; */
  height: 124px;
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}

.social-card {
  width: 124px;
  height: 124px;
  background-color: var(--off-white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  /* padding: 16px; */
  height: 60px;
  width: 60px;
  margin: auto;
}

.green {
  background-color: var(--primary);
}

.tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-tweet {
  /* width: 50%; */
  margin: 0;
  padding-top: 30px;
  /* padding-bottom: 0px; */
}

.view-more-trends {
  margin-top: 80px;
  /* margin-bottom: 60px; */
}

.platforms button {
  background: none;
  background-color: var(--black);
  border: none;
  color: var(--off-white); /* Change font color */
  font-family: inherit; /* Change font */
  font-size: 16px;
  height: 80px;
  width: 192px;
  border-radius: 96px;
}

/* Pricing */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: white;
  height: 1200px;
}

.pricing h1 {
  font-weight: 700;
  font-size: 64px;
}

.card-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: center;
  margin-top: 12px;
  width: 1300px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;
  border-radius: 15px;
  padding: 24px;
  position: relative;
}

.odd {
  background-color: var(--off-white);
  color: black;
}
.even {
  background-color: var(--primary);
  color: black;
}

.package-name {
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 0;
}
.package-name h2 {
  margin: 0;
  font-size: 36px;
  padding-bottom: 8px;
  font-weight: 400;
}

.package-name p {
  margin: 0;
  padding-bottom: 8px;
}

.thin-line {
  /* border: 1px var(--black2); */
  height: 2px;
  background-color: var(--grey2);
}

.price-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  align-self: end;
  justify-content: flex-start;
}

.price-container h2 {
  /* line-height: 64px; */
  font-size: 64px;
  margin: 24px 0 40px 0;
  font-weight: 400;
}

.price-container p {
  font-size: var(--normal-text-size);
  /* margin: 12px 0 12px 0; */
  margin: 0;
}

.package-detail {
  margin-top: 0px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.price-container span {
  /* line-height: 1; */
}

svg {
  height: 18px;
  margin-right: 8px;
  /* vertical-align: bottom; */
  /* stroke-width: 20px; */
}

.check {
  /* height: 24px;÷ */
  /* width: 24px; */
  /* stroke-width: 2px; */
}

.button-bottom {
  position: absolute;
  font-family: inherit;
  bottom: 10px;
  left: 0;
  width: 360px; /* Optional: makes button full width */
  height: 58px; /* Adjust as needed */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
  font-size: 18px;
}

.odd .button-bottom {
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}

.even .button-bottom {
  background-color: var(--black);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  font-size: 24px;
}

.yearly {
  color: var(--grey1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey3); /* Default slider background */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--green2); /* Default toggle knob color */
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--green2); /* Change slider background when checked */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(
    --off-white
  ); /* Change toggle knob color when checked */
}

/* Call to action  */

.cta {
  height: 600px;
  background-color: var(--primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta h1 {
  margin: 0;
  font-size: 72px;
  text-align: right;
  font-weight: 800;
}

.grey-text {
  color: var(--black2);
  opacity: 30%;
}

.join {
  margin-top: 40px;
  height: 60px;
  width: 180px;
  font-size: var(--normal-text-size);
  font-family: inherit;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: var(--black);
  padding: 16px 32px 16px 32px;
}

footer {
  height: 100px;
  margin: 20px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 40%; */
  padding-left: 80px;
}

footer img {
  padding-right: 10px;
}
footer p {
  font-weight: 700;
  font-size: 24px;
}
.footer-links {
  width: 700px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: row;
  padding-right: 100px;
}

.footer-links li {
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Media Queries */
@media screen and (max-width: 375px) {
  * {
    /* max-width: 375px; */
    box-sizing: border-box;
    margin: 0;
  }

  html,
  body {
    width: 375px;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: var(--normal-text-size);
    overflow-x: hidden;
  }

  .text-900w-36px {
    font-size: 36px;
    font-weight: 900;
  }

  #text-900w-36px {
    font-size: 36px;
    font-weight: 900;
  }

  #text-700w-36px {
    font-size: 28px;
    font-weight: 700;
  }

  .text-400w-14px {
    font-size: 14px;
    font-weight: 400;
  }

  .p-t-60 {
    padding-top: 60px;
  }

  .mobile-view {
    width: 375px;
    /* height: auto; */
  }

  #mobile-view {
    width: 375px;
  }

  .hidden {
    display: none;
  }

  #hidden {
    display: none;
  }
  main {
    padding: 0;
  }

  .nav-wrapper {
    display: flex;
  }

  nav {
    display: flex;
    flex-direction: row;
    background-color: #000;
    z-index: 1000;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
  }

  nav .left {
    padding-left: 0;
    /* width: 100%; */
    display: inline-flex;
    justify-content: center;
  }

  .middle {
    width: 0px;
  }

  .nav .right {
  }

  .nav-menu {
    position: fixed;
    /* top: 0; */
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #000;
    color: white;
    z-index: 1000;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
    display: flex;
    height: 400px;
  }

  .nav-item {
    margin: 0px;
    padding: 0px;
    /* margin: 2.5rem 0; */
  }

  .list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    /* height: auto; */
  }

  .nav-menu .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1001;
    width: 200px;
    padding: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-buttons {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  /* Grey overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Semi-transparent grey */
    z-index: 999; /* Below the navbar but above the content */
    display: none; /* Hidden by default */
  }

  /* Show the overlay */
  .overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.507);

    z-index: 999;
  }

  .nav-buttons button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  nav .left {
    display: flex;
    align-items: center;
    padding-left: 0;
    /* width: 100px;
    height: 100px; */
  }

  #logo {
    /* padding: 12px; */
    height: 60px;
  }

  #login-button {
    /* background-color: #333; */
    color: white;
  }

  #white-button {
    background-color: white;
    color: #000000;
    margin-left: 0;
  }

  .bar {
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .p-10px {
    padding: 0px 10px;
  }
  #p-10px {
    padding: 10px 10px;
  }

  .p-30px {
    padding: 0px 30px;
  }

  .p-bot-10px {
    padding-bottom: 10px;
  }
  .hero {
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .social-media-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Distribute space evenly */
    align-items: center;
    flex-wrap: wrap; /* Allow images to wrap if necessary */
  }

  .social-media-box {
    width: 300px; /* Set consistent size for images */
    height: 78px; /* Adjust height for consistency */
    /* margin: 20px; Optional: Space between boxes */
    box-shadow: 0px 0px 0px rgb(141, 141, 141); /* Box shadow */
    transition: transform 0.3s ease; /* Smooth transition for hover */
    /* padding-bottom: -10px; */
  }

  .rotate-up2 {
    transform: rotate(-3deg);
    position: relative;
    top: -16px;
    z-index: 8;
  }

  .rotate-up4 {
    transform: rotate(2deg);
    z-index: 9;
    /* position: relative;
    bottom: -12px; */
  }

  .rotate-neg2 {
    transform: rotate(2deg);
    position: relative;
    top: -28px;
  }

  .rotate-neg4 {
    transform: rotate(-3deg);
    z-index: 10;
    position: relative;
    bottom: -12px;
  }

  .social-media-box img {
    display: block;
    width: 100%; /* Ensure image fills its container */
    height: 100%; /* Ensure consistent image size */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin: 0; /* Remove gaps */
    padding: 0;
  }
  /* .rotate-up4 {
    transform: rotate(-4deg);
  }
  .rotate-neg2 {
    transform: rotate(+2deg);
  }
  .rotate-up2 {
    transform: rotate(-2deg);
  }
  .rotate-neg4 {
    transform: rotate(+4deg);
  } */

  .new-tabs {
    height: 550px;
    /* position: relative; */
  }

  .new-tabs .center {
    position: relative;
  }
  .white-rectangle {
    /* display: flex;
    flex-direction: column; */
    width: 340px;
    height: 120px;
  }

  .annotation {
    position: absolute;
    display: flex;
    z-index: 100;
    align-items: center;
    font-size: 0.75rem;
    color: black;
    /* background-color: #fff; */
    padding: 4px 8px;
    border-radius: 6px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  .top-right {
    top: 100px;
    right: -2px;
  }

  .bot-left {
    bottom: 160px;
    left: 0;
  }

  .tab5 {
    width: 260px;
    height: 60px;
  }

  .findtrend-brands {
    height: auto;
    /* flex-direction: column; */
  }

  .findtrend-brands div {
    /* height: 1000px;
     */
    /* padding-top: 24px; */
    width: 375px;
  }

  .findtrend-brands h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    padding: 80px 14px;
  }

  #p-bot-40 {
    padding-bottom: 40px;
  }

  .h1-center {
    padding-bottom: 40px;
  }

  .card-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
  }

  .brands .card {
    box-sizing: border-box;
    width: calc(50% - 48px);
    height: 75px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brands .card .icon {
    width: 100px;
  }

  /* .platforms {
    height: 900px;
    padding-top: 40px;
  } */

  #p-top-80 {
    padding-top: 80px;
  }

  .platforms .socials {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 355px;
    height: 240px;
  }

  .social-card {
    height: 64px;
    width: 64px;
    margin: 5px;
  }

  .social-icon {
    height: 30px;
    width: 30px;
  }

  .platforms {
    height: auto;
    padding: 0;
    padding-bottom: 80px;
  }

  .platforms h1 {
    width: 375px;
    font-size: 32px;
    /* line-height: 42px; */
    font-weight: 900;
    /* padding: 80px 14px; */
  }

  blockquote .twitter-tweet {
    max-width: 340px;
  }

  .pricing {
    height: auto;
    position: relative;
    /* padding-bottom: 80px; */
    padding-top: 80px;
  }

  .bot-right {
    top: 190px;
    left: 220px;
  }

  .toggle-wrapper {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .card-section {
    width: 340px;
    height: 2200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  .pricing-card {
    width: 340px;
    height: 670px;
    padding: 10px;
    margin: 0;
    padding: 15px;
  }

  .button-bottom {
    width: 275px;
    height: 55px;
  }

  .package-name {
    padding-bottom: 18px;
  }
  .package-name h2 {
    font-size: 32px;
  }

  .price-container h2 {
    font-size: 60px;
  }

  .cta {
    height: 400px;
  }

  .cta .h1 {
    max-width: 360px;
  }

  #grey-text,
  #black-text {
    font-size: 34px;
  }

  footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer .left {
    padding: 0px;
  }

  .footer-links {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
  }

  .footer-links li {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 400px) {
  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: none;
  }
}
