/* Variables */

:root {
  /* Color Palette */
  --primary: #a8ff35;
  --green2: #87d322;
  --button-hover: #8cc83a;
  --black: #000000;
  --black2: #2b2b2b;
  --grey1: #8b8b8b;
  --grey2: #adadad;
  --grey3: #f5f5f5;
  --grey4: #f1f1f1;
  --off-white: #ffffff;

  /* Font  */
  --heading1: 72px;
  --heading2: 76px;
  --normal-text-size: 18px;

  --font-weight-bold: 900;
  /* Spacing  */

  /* button styling  */

  /* Shadows? */
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* global/body stylings  */
html,
body {
  height: 100%;
  /* max-width: 1440px; */
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: var(--normal-text-size);

  overflow-x: hidden;
}

.max-width {
  width: 1440px;
  margin: 0 auto;
}

.hero {
  background: url(img/Bg-hero/website.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--off-white);
  width: 100%;
  height: 900px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  background: url(img/Bg-hero/website.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--off-white);
  width: 100%;
  height: 100px;
  background-color: var(--black);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  /* background-color: var(--black); */
  color: var(--off-white);
  font-size: var(--normal-text-size);
  /* z-index: -1; */
  /* position: fixed; */
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  height: 100px;
}

#logo {
  padding: 12px;
  height: 40px;
}

.middle {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 40%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

nav .left {
  display: flex;
  align-items: center;
  padding-left: 80px;
  width: 10%;
}

nav .right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 213px;
  padding-right: 80px;
}
#white-button {
  background-color: white;
  color: #000000;
  /* border: red 3px; */
  margin-left: 36px;
  width: 129px;
  height: 42px;
  border-radius: 42px;
}

.right button {
  background: none;
  /* background-color: white; */
  /* margin-right: 34px; */
  padding: 2opx;
  border: none;
  color: var(--off-white);
  font-family: inherit;
  font-size: inherit;
}

.right button:hover {
  color: var(--button-hover);
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
main h1 {
  font-family: "Rubik", sans-serif;
  font-size: 72px;
  font-weight: 900;
  color: var(--off-white);
  margin: 0;
  padding: 0;
}

main p {
  font-family: "Rubik", sans-serif;
  /* font-size: */
  font-weight: 200;
  color: var(--grey1);
  margin: 0;
  padding: 16px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight);
  width: 750px;
  height: 337px;
}

.hero-content p {
  padding-top: 24px;
}
#get-started {
  background-color: #87d322;
  height: 64px;
  width: 180px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  border-radius: 70px;
}

.new-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  height: 742px;
  padding: 0;
  margin: 0;
}

.new-tabs .center {
  width: 854px;
  height: 462px;
}

.new-tabs .center h1 {
  font-weight: 700;
  font-size: 72px;
  margin: 0px;
}
.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.white-rectangle {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /* -top: 20px; */
  margin: 64px 0;
  height: 202px;
  width: 502px;
}
.tab5 {
  height: 82px;
  width: 341.23px;
}

/* findtrend brands section */
.findtrend-brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  height: 1600px;
  background-color: var(--off-white);
  padding: 0;
  margin-bottom: 32px;
}

.findtrend-brands div {
  width: 1200px;
  /* margin-bottom: 16px; */
}

.findtrend-brands h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black2);
  line-height: 76px;
}

.grey {
  color: var(--grey1);
  /* height: 100%;
  width: 100%; */
}

.h1-center {
  text-align: center;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1160px;
  height: 732px;
  background-color: var(--off-white);
  padding: 20px 0;
}

.card-wrapper {
  width: 1200px;
  height: 576px;
  display: flex;
  flex-wrap: wrap;
}
.brands .card {
  margin: 16px;
  background-color: var(--grey4);
  width: 266px;
  height: 120px;
  display: flex;
  border-radius: 5px;
}

.brands .icon {
  margin: auto;
  width: 200px;
  object-fit: cover;
}

/* platforms */
.platforms {
  display: flex;
  justify-content: space-around;

  align-items: center;
  flex-direction: column;
  width: 100%;
  /* height: 2209px; */
  background-color: var(--grey3);
  padding: 96px 0 140px 0;
  margin: 0;
}

.platforms h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black2);
}

.socials {
  /* padding: 48px; */
  height: 124px;
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
}

.social-card {
  width: 124px;
  height: 124px;
  background-color: var(--off-white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  /* padding: 16px; */
  height: 60px;
  width: 60px;
  margin: auto;
}

.green {
  background-color: var(--primary);
}

.tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-tweet {
  /* width: 50%; */
  margin: 0;
  padding-top: 30px;
  /* padding-bottom: 0px; */
}

.view-more-trends {
  margin-top: 80px;
  /* margin-bottom: 60px; */
}

.platforms button {
  background: none;
  background-color: var(--black);
  border: none;
  color: var(--off-white); /* Change font color */
  font-family: inherit; /* Change font */
  font-size: 16px;
  height: 80px;
  width: 192px;
  border-radius: 96px;
}

/* Pricing */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: white;
  height: 1200px;
}

.pricing h1 {
  font-weight: 700;
  font-size: 64px;
}

.card-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: center;
  margin-top: 12px;
  width: 1300px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;
  border-radius: 15px;
  padding: 24px;
  position: relative;
}

.odd {
  background-color: var(--off-white);
  color: black;
}
.even {
  background-color: var(--primary);
  color: black;
}

.package-name {
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 0;
}
.package-name h2 {
  margin: 0;
  font-size: 36px;
  padding-bottom: 8px;
  font-weight: 400;
}

.package-name p {
  margin: 0;
  padding-bottom: 8px;
}

.thin-line {
  /* border: 1px var(--black2); */
  height: 2px;
  background-color: var(--grey2);
}

.price-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  align-self: end;
  justify-content: flex-start;
}

.price-container h2 {
  /* line-height: 64px; */
  font-size: 64px;
  margin: 24px 0 40px 0;
  font-weight: 400;
}

.price-container p {
  font-size: var(--normal-text-size);
  /* margin: 12px 0 12px 0; */
  margin: 0;
}

.package-detail {
  margin-top: 0px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.price-container span {
  /* line-height: 1; */
}

svg {
  height: 18px;
  margin-right: 8px;
  /* vertical-align: bottom; */
  /* stroke-width: 20px; */
}

.check {
  /* height: 24px;÷ */
  /* width: 24px; */
  /* stroke-width: 2px; */
}

.button-bottom {
  position: absolute;
  font-family: inherit;
  bottom: 10px;
  left: 0;
  width: 296px; /* Optional: makes button full width */
  height: 58px; /* Adjust as needed */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 24px;
}

.odd .button-bottom {
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.even .button-bottom {
  background-color: var(--black);
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  font-size: 24px;
}

.yearly {
  color: var(--grey1);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey3); /* Default slider background */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--green2); /* Default toggle knob color */
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--green2); /* Change slider background when checked */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(
    --off-white
  ); /* Change toggle knob color when checked */
}

/* Call to action  */

.cta {
  height: 600px;
  background-color: var(--primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta h1 {
  margin: 0;
  font-size: 72px;
  text-align: right;
  font-weight: 800;
}

.grey-text {
  color: var(--black2);
  opacity: 30%;
}

.join {
  margin-top: 40px;
  height: 60px;
  width: 180px;
  font-size: var(--normal-text-size);
  font-family: inherit;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: var(--black);
  padding: 16px 32px 16px 32px;
}

footer {
  height: 100px;
  margin: 20px;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 40%; */
  padding-left: 80px;
}

footer img {
  padding-right: 10px;
}
footer p {
  font-weight: 700;
  font-size: 24px;
}
.footer-links {
  width: 700px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: row;
  padding-right: 100px;
}

.footer-links li {
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
}
